/* tiny screens */

@media only screen and (max-width: 350px) {
    header h1 {
        font-size: 2em;
    }

    .links {
        font-size: .7em;
    }

    button {
        height: 10vh;
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

/* area between laptop and desktop sort of */

@media only screen and (min-width: 700px) and (max-width: 850px) {
    header h1 {
        font-size: 3em;
    }
}


/* desktop, laptop */

@media only screen and (min-width: 700px) {

    a:hover {
        color: white;
        background: var(--darkblue);
    }

    body {

    }

    .wrapper {
        background-image: url();

        height: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #monitor_image {
        position: fixed;
        right: 0;
        display: block;
        width: 50vw;
        height: 100vh;
        grid-column: 2/2;
    }

    header {
        padding-top: 2em;
        margin-left: 1.5em;
        margin-bottom: 1.5em;
        margin-right: 1.5em;


        display: flex;
        justify-content: space-around;

        color: var(--blue);
        padding: 0;
        background: white;

        display: grid;
        grid-template-columns: 1fr 1fr;
        box-shadow: none;

        width: 70%;
        
    }

    h1 {
        font-size: 5rem;
        text-transform: uppercase;
        letter-spacing: .7rem;
    }

    .links {
        display: flex;
        justify-content: space-around;
        font-weight: 700;

    }

    .link {
        padding-left: 1em;
        padding-top: 1em;
    }

    main {        
        grid-column: 1/2;
        margin: 2em;
        position: static;
    }

    main p {
        padding-right: 2em;

        background: none;
        color: var(--blue);
        font-size: 1em;
        line-height: 1.4em;
        text-align: justify;
    }

    main p:nth-child(1) {
        margin-top: 30vh;
    }

    button {
        grid-column: 1/2;
        width: 70%;
        margin: 0 auto;

        position: static;
        margin: 1.5em;
        margin-top: 2em;

    }

    button:hover {
        background: var(--blue);
        color: black;
    }

    button a:hover{
        color: black;
        background: none;
    }

    footer {
        background: var(--darkblue);
        color: white;
    }
}