* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

li {
    list-style: none;
}

:root {
    --blue: #272F3C;
    --blue-o: rgba(39, 47, 60, .8);
}

body {

}

.wrapper {
    background-image: url("https://i.imgur.com/NWuJMrl.jpg");
    background-attachment: fixed;
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;

    height: 2000px;
    
}

header {
    background: var(--blue);
    padding: .5rem;
    color: white;

    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 1px 0 5px black;

    position: fixed;
    top: 0;
    z-index: 3;

    
}

h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: .7rem;
}

.links {
    text-align: right;
    text-transform: uppercase;

}

main {
    z-index: 2;
    position: relative;
    top: 40vh;
}

main p {
    margin-top: .2em;
    padding: .5em;
    background: var(--blue-o);
    color: white;
}

footer {
    background: white;
    text-align: end;
    z-index: 3;
    position: fixed;
    width: 100%;
    padding: .1em;
    bottom: 0;
}